.x-toolbar-title {
	color: white !important;
	text-shadow: rgba(0, 0, 0, 0.5) 0 -0.08em 0 !important;
}

/* Landscape */
@media screen and (orientation:landscape) {
  .loading-image {
    margin-left: 496px;
    margin-top: 366px;
  }
}

/* Portrait */
@media screen and (orientation:portrait) {
  .loading-image {
    margin-left: 366px;
    margin-top: 496px;
  }
}
